## Multiple Linear Regression

### Multiple regression is to learn more about the relationship between several independent variables and a dependent variable.

<img src='images/multiple_reg.PNG' />

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### importing dataset

In [6]:
##Linear regression

In [7]:
data = pd.read_csv('dataset/50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [ ]:
#nomial features  ( one hot encoding)
#ordinal features (universal mathmatical order in values of a column:label ending)

In [ ]:
data.isnull().sum()

In [ ]:
#pd.get_dummies(data['State'])

In [10]:
d = pd.get_dummies(data['State'])

In [11]:
d.head()

   California  Florida  New York
0           0        0         1
1           1        0         0
2           0        1         0
3           0        0         1
4           0        1         0

In [ ]:
#data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [ ]:
new=data.iloc[:,:-1].select_dtypes(exclude=['object'])

In [ ]:
#new

In [ ]:
X=pd.concat((new,d),axis=1)

In [ ]:
X.head()

In [ ]:
##Now deal with categorical features

In [ ]:
#data.iloc[:,:-1]
#data_new = data.iloc[:,:-1]

In [ ]:
#s=pd.get_dummies(data['State'])

In [ ]:
#s.head()

In [ ]:
#m=data_new.select_dtypes(exclude=['object'])

In [ ]:
#k=pd.concat((m,s),axis=1)

In [ ]:
#k.head()

### Encoding categorical data

In [48]:
data_new = data.iloc[:,:-1]

In [49]:
data_new.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
dtype: object

In [50]:
data_new.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [51]:
#col=data_new.columns
#print col.tolist()
#c=list(col)
#c

In [52]:
data2 = pd.get_dummies(data_new[data_new.columns])
#get_dummies:create dummy variables

In [53]:
data2.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0

In [54]:
#data2.describe()

In [55]:
data2.shape

(50, 6)

### Split dataset

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X=X.values
#type(X)

In [58]:
type(X)

numpy.ndarray

In [59]:
y=data.iloc[:,-1]

In [60]:
type(y)

pandas.core.series.Series

In [61]:
X_train,X_test,y_train,y_test = train_test_split(X.values,y.values,test_size=.2,random_state=10)

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [62]:
#X_test

In [63]:
#X_train

In [64]:
print X_train.shape
X_test.shape

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(X_train.shape)? (<ipython-input-64-0834b8d192b7>, line 1)

In [65]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
reg.coef_

In [ ]:
#X_test[0].reshape(1,-1)

In [ ]:
test=X_test[0].reshape(1,-1)

In [ ]:
test.shape

In [ ]:
coff=reg.coef_.reshape(1,-1).T

In [ ]:
coff.shape

In [ ]:
np.dot(test,coff)+reg.intercept_

In [ ]:
X_test.ndim

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
y_pred[0]

In [ ]:
y_test[0]

In [ ]:
y_pred[0]

In [ ]:
#sum(reg.coef_*t)+reg.intercept_

In [ ]:
#y_pred[0]

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

In [46]:
a=[[43.45,10],[23.98,1],[12.21,2]]
a.sort(key=lambda x:x[1])

In [47]:
a

[[23.98, 1], [12.21, 2], [43.45, 10]]

In [42]:
def Sort(a):  
    a.sort(key = lambda a: a[1]) 
    return a
    (Sort(a))

In [43]:
a

[[12.21, 2], [23.98, 1], [43.45, 10]]